## ch02. Variable
- string
- integer
- float
- boolean

In [11]:
# 여러 이름 동시에 할당하기
seven = sept = siete = 7
# 할당 순서는 뒤에서부터 앞으로. siete -> sept -> seven

seven

7

In [24]:
# seven의 값을 바꾸면 sept, siete의 값도 바뀔까?
# 불변객체(immutable)이므로 바뀌지 않음.

seven = 1

print(seven, sept, siete)

1 7 7

In [15]:
id(seven), id(sept)
# 주소값도 같지 않음

(2575036606768, 2575036606960)

In [19]:
list1 = [1, 2, 3] # 리스트
list2 = list1 # list2에 list1을 대입
list1, list2

([1, 2, 3], [1, 2, 3])

In [20]:
id(list1), id(list2)
# 두 개의 리스트의 id값을 확인해보면 주소값이 같음

(2575116729472, 2575116729472)

In [22]:
list1[0] = 9
# 리스트에서 특정 원소의 값을 변경하고 두 리스트의 값 확인하기
list1, list2
# 리스트는 가변(mutable) 객체
# mutable 객체: 객체를 생성한 후 객체의 값을 수정 가능, 변수는 값이 수정된 같은 객체를 가리킴
# immutable 객체: 객체를 생성한 후 객체의 값 수정 불가능, 변수는 해당 값을 가진 다른 객체를 가리킴
# 변수에 대입한 값을 수정했을 때 전후의 id값이 같으면 mutable, 다르면 immutable객체

([9, 2, 3], [9, 2, 3])

In [23]:
id(list1), id(list2)
# id값 같음

(2575116729472, 2575116729472)

## 좋은 변수명 만들기
- 간결하고 명확하게
- 의미를 담도록 (a,b,c.... 같은 무의미한 변수명 쓰지 않기)
- 코드에는 의미가 담기고, 주석에는 의도가 담긴다.
    - 예: the number of students --> n < the_number_of_students < num_students
    - Camel case: numStudents
    - Snake case: num_students

## 자료형 변환, 형 변환
- str(), int(), float(), bool()

In [25]:
a = 10

# str
str(a)

# float
float(a)

# bool
bool(a)
# True, False 두 가지 값만 가지기 때문에 어떤 값이 False인지 기억하기
# '', None, 0, ...

True

## 형 변환 시 주의할 점
- float -> int

In [26]:
x = 12.54 # 소수점 내림
int(x)

12

In [30]:
y = 19.8

print(int(x + y)) # x와 y를 더한 값을 int형으로 변환
print(int(x) + int(y)) # x와 y를 각각 int로 변환 후 덧셈
# 참고: x + y 연산자 띄어쓰기

32
31

- str -> int/float

In [28]:
i = '15'
int(i), float(i)
# 정상적으로 작동함

(15, 15.0)

In [29]:
j = '22.1'
int(j) # 22.1은 정수형으로 변환할 수 없어서 오류남

ValueError: invalid literal for int() with base 10: '22.1'

## print()와 관련한 꿀팁

In [32]:
book = 'book'
laptop = 'laptop'
tablet = 'tablet'

print(book + laptop + tablet) # space 없음, \n 있음
print(book, laptop, tablet) # space 있음, \n 있음

booklaptoptablet
book laptop tablet

In [34]:
print(book, laptop, tablet, sep=' ', end='\n') #argument 안에서는 붙여쓰기도 함, default
print(book, laptop, tablet, sep=':', end='\n\n')
print("EOL")

book laptop tablet
book:laptop:tablet

EOL

In [40]:
print("My favorite device is",book,'.') # 지양할 것
print(f"My favorite device is {book}.") #f스트링이 편함
# 문자열 포매팅의 종류 알기
# % 서식문자, str.format, f-string

My favorite device is book .
My favorite device is book.

In [41]:
# 코드 줄이 짧을 때에는 ";(세미콜론)"을 이용해 한 줄로 만들 수 있음
book = 'text' ; laptop = 'macbook' ; tablet = 'ipad'

print(book, laptop, tablet)

text macbook ipad

## input() 함수
- 콘솔에서 사용자가 입력한 값을 받을 수 있는 함수
- 입력된 값은 모두 문자열로 인식됨
- 입력 받은 값을 변수에 저장하여 사용할 것(변수에 따로 저장 안 하면 사라짐)
- 원하는 자료형으로 형변환하기
- int(input()), float(input()) ...

In [42]:
input("hello?")

hello? hi

'hi'

In [43]:
int(input("나이가 어떻게 되나요?"))
# 입력받은 값을 정수형으로 변환

나이가 어떻게 되나요? 22

22

- 변수에 할당하는 방법

In [44]:
#1. 
age = int(input("나이가 어떻게 되세요?"))
age

나이가 어떻게 되세요? 22

22

In [45]:
#2.
print("나이가 어떻게 되세요?")
age = int(input())

나이가 어떻게 되세요?

 22

## Quiz 1
- 섭씨온도를 입력받아 화씨온도로 변환하기
- 섭씨 * 1.8 + 32 = 화씨

In [46]:
celsius = float(input("섭씨 온도 입력: "))
fahrenheit = celsius * 1.8 + 32
print(f"섭씨온도 {celsius}는 화씨온도 {fahrenheit}와 같음")

섭씨 온도 입력:  100.0

섭씨온도 100.0는 화씨온도 212.0와 같음

## Quiz 2
- 택배 정보를 입력받고 총 합계 계산하기
- 출력값:
    - ==택배 정보==
    - 수취인 성명: <이름> 
    - 수취인 주소: <주소>
    - 배송비: 3000원
    - 물건비용: <가격>원
    - 총 합계: <가격>
- 물건 비용 = 무게(g) * 5
- 합계 = 배송비 + 물건 비용
- 입력받는것은 3개

In [47]:
delivery_charge = 3000
name = input("수취인 성명: ")
address = input("수취인 주소: ")
weight = float(input("무게(g): "))
product_price = weight * 5
total_price = delivery_charge + product_price

print("==택배 정보==")
print(f"수취인 성명: <{name}>")
print(f"수취인 주소: <{address}>")
print(f"배송비: {delivery_charge}원")
print(f"물건 비용: {product_price}원")
print(f"총 합계: <{total_price}>원")

수취인 성명:  손가현
수취인 주소:  서울 어딘가
무게(g):  2500

==택배 정보==
수취인 성명: <손가현>
수취인 주소: <서울 어딘가>
배송비: 3000원
물건 비용: 12500.0원
총 합계: <15500.0>원

## Chapter 03: Numbers
### boolean
- 형변환 시 True인지 False인지 기억하기
- False: '', None, 0, ...
- 조건식에서 많이 쓴다. 예: 만약 조건이 True라면...

In [49]:
bool(1)

True

In [50]:
bool(None)

False

In [51]:
bool(' ')

True

In [52]:
bool('')

False

### integer
- 소수점 없음
- default로 양수임, 음수는 앞에 -를 붙임.
- 숫자 앞에는 0을 붙일 수 없다. 예: 05(안됨)
    - 예외적으로 0bxxx, -> 다른 진수 표현법
- 리터럴: 4
- 숫자는 중간에 공백이 많아도 무시됨
- 10,000원 => 10, 000원 두 개로 인식됨
    - _(언더바) 사용해서 해결
    - 예: 10_000

In [53]:
# 음수
minus_num = -10
minus_num + 9

-1

In [54]:
# 숫자 앞에 0을 붙일 수 있음
zero_num = 09

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_12312/2238685037.py, line 2)

In [55]:
# 숫자 중간의 공백은 무시됨
space_num = -9 + 8                      -5
space_num

-6

In [57]:
# 숫자 사이 언더바(_)
underbar_num = 10_000
underbar_num

10000

### 연산
- 연산자(operator): +, -, *, ...
- 피연산자(operand): 4, 5, ...
- 수식(expression)

In [59]:
x = 3
y = 9

x + y 
x - y
x * y
x / y

# 거듭제곱(exponential) 은 x**y
x ** y

19683

In [62]:
# 나눗셈에서 주의할 사항

#1. division by zero 불가능 => 주의 (위의 예에서 y!=0)
#2. 몫, 나머지 표현
x // y , x % y, x / y
# 몫 나누기, 나머지, 그냥 나누기

(0, 3, 0.3333333333333333)

In [63]:
# divmod(x,y) -> 몫과 나머지를 튜플 형태로 반환
divmod(x, y)

(0, 3)

#### 복합대입연산자

In [64]:
a = a - 3

#1. a - 3 계산
#2. 임시변수 temp에 = a - 3 저장
#3. a = a - 3
# 다음과 같은 과정을 복합대입연산자로 간단하게 표현

a -= 3

In [65]:
a += 3
a -= 3
a *= 3
a /= 3

In [66]:
u = u + 1
# 초기화 안 된 값은 안 되는 것 주의하기

NameError: name 'u' is not defined

## Quiz 3
- 정수를 입력받고 3의 배수인지 확인하세요
- 정수를 입력받고 홀수인지 확인하세요

In [68]:
int_num1 = int(input("정수를 입력하세요: "))
if int_num1 % 3 == 0:
    print("3의 배수입니다")
else:
    print("3의 배수가 아닙니다")
    
int_num2 = int(input("정수를 입력하세요: "))
if int_num2 % 2 != 0:
    print("홀수입니다")
else:
    print("짝수입니다")

정수를 입력하세요:  9

3의 배수입니다

정수를 입력하세요:  13

홀수입니다

In [70]:
int_num = int(input("정수를 입력하세요: "))
print(int_num % 3 == 0)
print(int_num % 2 != 0)

정수를 입력하세요:  9

True
True

### 지수 표현
- e, E 둘다 가능함
- 앞부분은 float, int 형
- 뒷부분은 int 자료형만 옴
    - e 기준으로 뒷부분이 양수면 0 앞으로 (그러니까 소수점이 오른쪽으로 이동)
    - e 기준으로 뒷부분이 음수면 0 뒤로 (소수점)

In [71]:
1.0e6

1000000.0

In [72]:
4.0e3

4000.0

In [75]:
5.0e-3

0.005

In [76]:
# 0.000789의 지수표현은?
7.89e-4

0.000789

In [77]:
# 0.00789e-1 같이 사용하지 않기

### 조건문,if
- code structure

### 코드 짜는 룰
- 주석 다는 법
    - 설명하는 부분
    - 목적: 의도를 표현한다
    - '#' hash, sharp...
    - 시작된 부분부터 그 라인의 끝까지가 주석
    - 문자열 안에 들어있는 해시(#)는 문자열로 인식
    - """ """
 
 - 라인 유지하기
     - 들여쓰기, 공백 4개, 탭 1개
     - 한 줄에 최대 80자 넘지 않게
     - 백슬래시로 끊어주기

In [78]:
a = 3 #여기부터 라인 끝
b = 2

In [80]:
example = 'hey ###'
print(example)

"""
주석1
주석2
주석3
"""

# 코드에서 볼 수 있지만 코드 결과에 영향을 미치지 않음

hey ###

'\n주석1\n주석2\n주석3\n'

- 조건 1개 
if <조건식>:
    <실행할 코드>

In [81]:
if 5 != 11:
    print("Yeah")

Yeah

- 조건 2개
-   
    if <조건식1>:
        <실행할 코드>
    else:
        <실행할 코드 2>

In [82]:
if 5 == 11:
    print("Yaay!")
else:
    print("Hey!")

Hey!

- 조건 3개 이상
-   
    if <조건식1>:
        <실행할 코드>
    elif:
        <실행할 코드 2>
    else:
        <실행할 코드 3>

In [83]:
if 50 == 43:
    print("Yah")
elif 50 == 32:
    print("hi")
else:
    print("yeah")

yeah

### 비교연산자
- x < y , x <= y
- x > y , x >= y
- x == y (값을 비교)
- x != y (값을 비교)
- x is y (값, 메모리주소를 비교)
- x is not y(값, 메모리주소를 비교)

### Quiz 4.
- 학점 부여하기
- 학점을 입력받아서 
    - 90점 이상이면 A
    - 80점 이상이면 B
    - 70점 이상이면 C
    - 그 외는 D
- 변수 이름 주의

In [85]:
score = float(input("점수를 입력해주세요: "))

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
else:
    grade = "D"
    
print(f"학점은 {grade}입니다")

점수를 입력해주세요:  80

학점은 B입니다

### Quiz 5.
- 아이디와 비번을 입력받아 둘다 일치하면 로그인
- 아이디와 비밀번호는 각자 지정
- 일치하지 않을 경우 창의적으로 출력

In [86]:
identity = "gahyunson"
password = "songahyun"

input_id = input("아이디를 입력해주세요: ")
input_pw = input("비밀번호를 입력해주세요: ")

if input_id == identity and input_pw == password:
    print("로그인 성공")
elif input_id == identity and input_pw != password:
    print("비밀번호가 틀렸습니다")
elif input_id != identity and input_pw == password:
    print("아이디가 틀렸습니다")
else:
    print("다시 입력해주세요")

아이디를 입력해주세요:  gahyunson
비밀번호를 입력해주세요:  1111111

비밀번호가 틀렸습니다

### 논리연산자
- 여러 조건식을 비교할 때 사용
- 예: 10 < x < 20
    - 파이썬에서만 가능한 표현
    - (x>10) or (x<20)
    
- and , & : 둘 다 참일 때 True
- or , | : 둘 중 하나만 참이어도 True
- not : 참이면 False, 거짓이면 True

### Quiz 6.
- quiz 4 확장
- 결석 횟수를 받아서 점수가 80점 이상인데 결석이 2번 이상이면 F, 나머지는 점수대로
- 논리연산자 이용하는 방법, if 크게 2번 사용하는 방법

In [91]:
# 그냥 처음 떠올린 방법

score = float(input("점수를 입력해주세요: "))
absence = int(input("결석 횟수를 입력해주세요: "))
grade = ""

if score >= 80:
    if absence < 2:
        if score >= 90:
            grade = "A"
        else:
            grade = "B"
    else:
        grade = "F"
elif score >= 70:
    grade = "C"
else:
    grade = "D"
    
print(f"점수 {score}점, 결석 {absence}번이므로 학점은 {grade}입니다.")

점수를 입력해주세요:  90
결석 횟수를 입력해주세요:  2

점수 90.0점, 결석 2번이므로 학점은 F입니다.

In [100]:
# 논리연산자 이용하는 방법

score = float(input("점수를 입력해주세요: "))
absence = int(input("결석 횟수를 입력해주세요: "))
grade = ""

if score >= 80 and absence >= 2:
    grade = "F"

elif score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
else:
    grade = "D"

print(f"점수 {score}점, 결석 {absence}번이므로 학점은 {grade}입니다.")

점수를 입력해주세요:  80
결석 횟수를 입력해주세요:  1

점수 80.0점, 결석 1번이므로 학점은 B입니다.

In [97]:
# if 크게 2번 사용하는 방법

score = float(input("점수를 입력해주세요: "))
absence = int(input("결석 횟수를 입력해주세요: "))
grade = ""

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
else:
    grade = "D"
    
if score >= 80:
    if absence >= 2:
        grade = "F"
    
print(f"점수 {score}점, 결석 {absence}번이므로 학점은 {grade}입니다.")

점수를 입력해주세요:  80
결석 횟수를 입력해주세요:  1

점수 80.0점, 결석 1번이므로 학점은 B입니다.