# Week_09(0429) 복습

## Dictionary
- 영어 사전과 같은 구조로 생각하면 됨
    - 단어: 뜻
    - 키: 값
    - 순서가 없다. => 인덱싱 불가능
    - "키로 값을 찾는다."
        - 키를 중복되지 않는 고유한 값
    - 가변 타입: 수정, 삭제, 추가 가능
    - 타입: dict
    - 형 변환: dict()로 하면 됨
    - 중괄호 사용 {}, 콤마로 구분함
    - 값에 다양한 자료구조가 올 수 있음
        - a: 1, a: [1, 2, 3, 4] ... 리스트도 올 수 있다.

In [3]:
# 빈 딕셔너리 선언하는 방법

empty_dict = dict()
empty_dict = {} # 이건 dict type
print(type(empty_dict))

# set과 헷갈리지 말자
empty_set = set() # 이렇게 해야 set
print(type(empty_set))

<class 'dict'>
<class 'set'>

In [4]:
a = {1, 2, 3} # set

b = {1: 'apple', 2: 'banana', 3: 'kiwi'} # dict

a, b

({1, 2, 3}, {1: 'apple', 2: 'banana', 3: 'kiwi'})

In [5]:
b = {'': '', '': '', '': ''}

# 이렇게 선언하는 경우 key값에 따옴표 안 해도 됨
b = dict(apple='a', banana='b', kiwi='c')
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

In [6]:
# 딕셔너리 실습
# 출석부로 딕셔너리 만들기

# 이름, 학번, 학과
# james 202201 경제학과
# laura 202203 스페인어과
# louis 202202 컴공과

In [7]:
# 중복 안 되는 값을 key로 하기

attendance_list = {'202201': ['james', '경제학과'], '202202': ['louis', '컴공과'], '202203': ['laura', '스페인어과']}

In [11]:
attendance_list['202201'][0]

'james'

### 형 변환
- key, value 값이 쌍으로 있을 때 가능함

In [12]:
# [] 안에 []가 쌍으로 존재할 때
# 튜플이어도 가능함

ex1 = [[1,2], [2,3], [3,4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [19]:
# key가 똑같다면 마지막에 나오는 것을 기준으로 함

ex2 = [(1,2),(2,3),(1,3)]
dict(ex2)

{1: 3, 2: 3}

In [20]:
# 문자열은 두 자리 문자열까지만 가능

ex3 = ['ab', 'bc', 'cd'] 
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

### 항목 조회 & 변경

In [21]:
pythons = {
    'Chapman' : 'Graham',
    'Cleese' : 'John',
    'Idle' : 'Eric',
    'Jones' : 'Terry',
    'Palin' : 'Michael'
}

In [23]:
# 항목 조회(key로 value를 찾음)
# 없는 값이면 예외

pythons['Idle']

'Eric'

In [24]:
# 예외 없게 하는 방법

# 값이 있는지 확인하기
print('Hwa' in pythons)

# get() : key가 있으면 값을 반환, 없으면 None을 반환하는데 반환값 설정 가능
pythons.get('Lee', 0)

False

0

In [25]:
# 항목 변경

pythons['Idle'] = 'James' 
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael'}

### 항목 추가 & 삭제

In [41]:
# 항목 추가

pythons['Hwa'] = 'Chloe'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Howard': 'Noe',
 'Hwa': 'Chloe'}

In [42]:
# 여러 개를 추가하는 경우 update
# 만약 원래 있던 key라면 마지막 값 기준으로 update

others = {
    'Marx': 'Groucho',
    'Howard' : 'Noe'
}

pythons.update(others)
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Howard': 'Noe',
 'Hwa': 'Chloe',
 'Marx': 'Groucho'}

In [43]:
# py3에서만 가능한 추가 방법

{**others, **pythons}

{'Marx': 'Groucho',
 'Howard': 'Noe',
 'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [44]:
# 항목 삭제

del pythons['Hwa']
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Howard': 'Noe',
 'Marx': 'Groucho'}

In [45]:
# 값을 출력하고 삭제

pythons.pop('Marx')
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Howard': 'Noe'}

In [46]:
# key가 없으면 예외는 나지만, 예외시 출력 값을 지정할 수 있음

pythons.pop('Lee', 0)

0

In [48]:
# 전체 삭제

pythons.clear()
pythons = {}

pythons

{}

### 전체 조회
- keys()
- values()
- items()

In [50]:
pythons = {
    'Chapman' : 'Graham',
    'Cleese' : 'John',
    'Idle' : 'Eric',
    'Jones' : 'Terry',
    'Palin' : 'Michael',
    'Hwa' : 'Chloe'
}

In [52]:
pythons.keys() # key값 조회

dict_keys(['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa'])

In [53]:
pythons.values() # value값 조회

dict_values(['Graham', 'John', 'Eric', 'Terry', 'Michael', 'Chloe'])

In [54]:
pythons.items() # (키, 값) 튜플 형태로 -> 순회할 때 많이 씀

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'Eric'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [55]:
list(pythons.keys()) # 메모리 적게 사용하고 싶다면 리스트로 형변환해주기

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [58]:
# items 순회

for k, v in pythons.items(): 
    print(f'{k} = {v}')
    
print()

# 리스트 컴프리헨션으로도 가능

[(k, v) for (k,v) in pythons.items()]

Chapman = Graham
Cleese = John
Idle = Eric
Jones = Terry
Palin = Michael
Hwa = Chloe

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'Eric'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [59]:
# items()는 튜플 형태로 들어있기 때문에 인덱스로 접근 가능
# 0은 key값, 1은 value값

[k[1] for k in pythons.items()]

['Graham', 'John', 'Eric', 'Terry', 'Michael', 'Chloe']

In [60]:
[k for k in pythons] # 그냥 하면 키값만 나옴

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [61]:
### 딕셔너리 실습

# animal : num_leg 딕셔너리를 만드시오
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

In [62]:
animal_leg = dict([(k, v) for (k, v) in zip(animal, legs)])

In [63]:
animal_leg

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

In [64]:
dictionary = {}
for i in range(len(animal)):
    dictionary[animal[i]] = legs[i]

In [65]:
dictionary

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

In [ ]:
# pythons에서 성: 이름, 성 첫 글자만, 이름은 글자 개수로 이루어진 튜플
# (성, 이름) 리스트로 반환하기
# dict comprehension 쓰지 말기

In [70]:
[(k, v) for k, v in pythons.items()]
# 여기서 고쳐나가면 됨

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'Eric'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [71]:
[(key[0], len(value)) for (key, value) in pythons.items()]

[('C', 6), ('C', 4), ('I', 4), ('J', 5), ('P', 7), ('H', 5)]

In [72]:
[(k[0][0], len(k[1])) for k in pythons.items()]

[('C', 6), ('C', 4), ('I', 4), ('J', 5), ('P', 7), ('H', 5)]

### 복제
- 할당 : b = a *같은 주소 참조 
- 얕은 복사: c = a.copy() *다른 객체 생성
- 깊은 복사: deepcopy
- 리스트와 동일

In [73]:
a = {1:1, 2:2, 3:3}
b = a

a[1] = 45

# 할당의 문제점: b도 값이 변한다. (복사한 가변객체이기 때문에)
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [74]:
# 다른 객체 생성 - 얕은 복사 

c = a.copy()
a[2] = 22
a, c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [75]:
# 얕은 복사의 문제점: 가변객체에 대해 또 참조가 됨

a = {1: [1,2,3], 2: [2,3,4]}
d = a.copy()
a[1][0] = 100
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [81]:
# deepcopy

import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

### 비교
- 같다, 다르다 만 된다.

In [82]:
a != b

True

### EX
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성 = pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기(태양 지구 같은것들)
    - del dict1['태양'] 이런거 안된다고
4. sorted 이용해서 값을 정렬하기 1) key 기준 2) value 기준

In [83]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [86]:
new_solar = {}

for i in range(len(solar_kor)):
    new_solar[solar_kor[i]] = solar_eng[i]
    
new_solar['명왕성'] = 'pluto'

new_solar = [planet for planet in new_solar.items() if planet[0][-1] == '성']

new_solar

[('수성', 'mercury'),
 ('금성', 'venus'),
 ('화성', 'mars'),
 ('목성', 'jupiter'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto')]

In [87]:
system = {}
for k, v in zip(solar_kor, solar_eng):
    system[k] = v
    
system['명왕성'] = 'pluto'

system = dict([(key, value)
               for key, value in system.items()
               if key.endswith('성')])

# key 기준
print(sorted(system.keys()))

# value 기준
print(sorted(system.values()))

['금성', '명왕성', '목성', '수성', '천왕성', '토성', '해왕성', '화성']
['jupiter', 'mars', 'mercury', 'neptune', 'pluto', 'saturn', 'uranus', 'venus']

### 딕셔너리 컴프리헨션
- 리스트 컴프리헨션 후에 dict()로 감싸는 것이 비효율적임

In [88]:
letter = 'apple'

# a: 1, p: 2, ...
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [90]:
# 단어의 모음 세기
vowels = 'aeiou'
word = 'onomatopoeia'

# word 순회, vowels 순회
print({w: word.count(w) for w in set(word) if w in vowels})
print({v: word.count(v) for v in set(vowels) if v in word})

{'i': 1, 'a': 2, 'o': 4, 'e': 1}
{'i': 1, 'a': 2, 'o': 4, 'e': 1}

In [93]:
# 위의 태양계 실습을 딕셔너리 컴프리헨션으로!
# {key:value}

system = {key:value 
          for key, value in system.items() 
          if key.endswith('성')}

system

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

### sorting

In [96]:
# 그냥 sorted는 key만

sorted(system)

['금성', '명왕성', '목성', '수성', '천왕성', '토성', '해왕성', '화성']

In [98]:
def fx(x):
    return x[0] # 0은 key, 1은 value

sorted(system.items(), key=fx)

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

In [99]:
# lambda식
# 함수에서 이름 짓는 부분과 예약어를 빼고 익명으로 함수 구현

sorted(system.items(), key=lambda x: x[1])

[('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

### Set
- "중복이 없다"
- 집합과 동일한 개념 => 교집합, 합집합, 차집합, ...
- 중복과 순서가 없는 bag과 같음, 인덱싱도 없다.

In [100]:
# set 만들기

empty = set()
empty

set()

In [101]:
a = {1, 2, 3} # 값이 있으면 이렇게 해도 됨
a

{1, 2, 3}

In [104]:
# a = set(1, 2, 3) => 오류
# 선언과 형 변환이 동일

b = set((1, 2, 3))
b

{1, 2, 3}

In [106]:
# 추가
a.add(4)
print(a)

# 삭제
a.remove(4)
print(a)

{1, 2, 3, 4}
{1, 2, 3}

In [107]:
# 멤버십 연산자

drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}

# 보드카가 포함된 술 출력하기
# 보드카는 있지만 크림이나 vermouth 없는 술 출력하기

In [108]:
for k, v in drinks.items():
    if 'vodka' in v:
        print(k) # 보드카가 포함된 술
        
for k, v in drinks.items():
    if 'vodka' in v:
        if 'cream' not in v and 'vermouth' not in v:
            print(k) # 보드카는 있지만 cream, vermouth 없는 술

martini
black russian
white russian
screwdriver
black russian
screwdriver

In [109]:
for k, v in drinks.items():
    if 'vodka' in v and not ('cream' in v or 'vermouth' in v):
        print(k)

black russian
screwdriver

In [110]:
a = {1, 2, 3}
b = {2, 3, 4}

# 교집합 | intersection
a.intersection(b)
a & b

# 합집합 | union
a.union(b)
a | b

# 차집합 | difference
a.difference(b)
a - b , b - a

({1}, {4})

In [111]:
for k, v in drinks.items():
    if 'vodka' in v and not ('cream' in v or 'vermouth' in v):
        print(k)
# set을 활용해서 바꾸기

black russian
screwdriver

In [112]:
for k, v in drinks.items():
    d = {'cream', 'vermouth'}
    if 'vodka' in v and len(v.intersection(d)) == 0:
        print(k)
# 길이를 잴 필요는 없다

black russian
screwdriver

In [113]:
for k, v in drinks.items():
    if 'vodka' in v and not v & {'cream', 'vermouth'}:
        print(k)

black russian
screwdriver

In [114]:
# set comprehension

{s for s in range(5)}

{0, 1, 2, 3, 4}

In [115]:
# frozenset : 가변 객체를 불변 객체로

set([1,2])
frozenset([1,2])

frozenset({1, 2})

## project 

- 매주 task, 팀별로 한 개의 파일 제출
- 2팀 100, 70, 50, 30점
- task를 해결해서 수업 30분 동안 팀원 중 랜덤으로 코드 설명(12시에 시작)
- 코드를 이해하고 있다는 걸 보여주면 됨
- 제출할 때 컬러스크립트로 변환
- 제출: 수요일 자정까지(수요일 00시부터 23:59분까지)

In [ ]:
!pip install pylint
!pylint example.py # 어디에 오류가 있는지 설명해줌(10점 만점에 ~)

!pip install pydocstyle
!pydocstyle example.py # 독스트링에서 어디가 잘못됐다고 알려줌